<form
class="login-page"
 [formGroup]="profileForm"
 (ngSubmit)="onSubmit()"
 >
  <h1 class="h1 mb60  " >Вход</h1>
  <label class="tt-label mb16">
    Telegram username
    <input formControlName="username" type="text" class="tt-input mb32"  placeholder="Введите логин">
  </label>
  <label class="tt-label">
    Пароль
    <input formControlName="password" type="password" class="tt-input mb32"  placeholder="Введите Пароль">
  </label>
  <button class="btn btn-shadow">Войти</button>
</form>
<img src="/assets/imgs/Content.svg" alt="">
